current_projs/compiler.html
current_projs/page.js
current_projs/psite.html
current_projs/suggestion.js
hangout/hangout/.gitignore
hangout/hangout/package-lock.json
hangout/hangout/package.json
hangout/hangout/README.md
hangout/hangout/tsconfig.json
hangout/hangout/lib/mongodb.ts
hangout/hangout/pages/index.tsx
hangout/hangout/public/favicon.ico
hangout/hangout/public/vercel.svg
hangout/hangout/types/mongodb.d.ts
src/512px-LinkedIn_logo_initials.png
src/favicon.ico
src/GitHub_Logo.png
src/iconmonstr-github-1.svg
src/linkedin-svgrepo-com.svg
src/studious alligator.jpg

.gitignore