
body {
    background-color: C0DFD9;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
    align-items: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    position: relative;
}

h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


/* navbar {
    background-color: grey;
    overflow: hidden;
    flex: 1;
    flex-direction: row;
    
}

topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

topnav a:hover {
    background-color: #ddd;
    color: black;
}

topnav a.active {
    background-color: #04AA6D;
    color: white;
} */

footer {
    background-color: C0DFD9;
    text-align: center;
    position: relative;
    padding-top: 5px;
    padding-bottom: 5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
    font-weight: bolder;
    font-size: 24px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.imgcontainer {
    position:relative;
    width: 50%;
}

.image {
    display: block;
    width: 100%;
    height: auto;
}

.overlaytext {
    position: absolute;
    background: rgb(0, 0, 0);
    background: rgba(145, 145, 145, 0.578);
    color: #C0DFD9;
    width: 50%;
    transition: .5s ease;
    opacity:0;
    color: white;
    font-size: 18px;
    padding: 10px;
    text-align: center;
  }

.imgcontainer:hover .overlaytext {
    opacity: 1;
}